
@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<a href="/Stationary/PrintList">Sharing List</a><br/>
<a href="/Stationary/Stock">Stock In Hand</a><br />
<a href="/Stationary/Costs">Stock Costs</a><br />
<a href="/Stationary/CreateHomePrintingList">Home Price List</a><br />
<a href="/Stationary/LowStock">Low Stock</a><br />
